[Desktop Entry]
[Desktop Entry]
Version=4.4.1
Comment=Raspydarts
Terminal=false
Name=Raspydarts
Exec=/pydarts/RaspyDarts.sh
Type=Application
Icon=/pydarts/images/icon.png
