[Colorset]

# General
border-radius: 10
button-radius: 'max'
border-size: 0
padding: 2
font: '/home/pi/.pydarts/themes/remi/font/CompactaBT.ttf'

color-black: (0, 0, 0) # Black RVB color

# Backgrounds
bg-global: False
bg-round-nb: (0, 0, 0) #Black
bg-round-nb-header: (51, 81, 127) #Blue
bg-LOGO: (0, 0, 0) #Black
bg-darts-nb: (0, 0, 0) #Black
bg-darts-nb-header: (51, 81, 127)  #Blue
bg-optionslist: (0, 0, 0) #Black
bg-optionslist-header: (51, 81, 127) #Blue

# Players's colors (for leds and screen)
player1: (255, 0, 0)
player2: (0, 255, 0)
player3: (0, 0, 255)
player4: (255, 255, 0)
player5: (255, 0, 255)
player6: (0, 255, 255)
player7: (128, 255, 0)
player8: (128, 0, 255)
player9: (0, 128, 255)
player10: (255, 128, 0)
player11: (255, 0, 128)
player12: (0, 255, 128)

# For menu screens
menu-header: (255, 255, 255)
menu-text: (0, 0, 0)
menu-selected: (193, 193, 193)
menu-shortcut: (194, 1, 1)
menu-alternate: (194, 1, 1)
menu-ok: (112, 156, 118)
menu-warning: (205, 144, 110)
menu-ko: (189, 108, 109)
menu-item-white: (0, 0, 0)
menu-item-black: (0, 0, 0)
menu-text-black: (255, 255, 255)
menu-text-white: (255, 255, 255)
menu-buttons: (100, 100, 100)
menu-favorite: (255, 215, 0)
menu-border: (255, 255, 255)
menu-inactive: (128, 128, 128)

# Game's deczription
description-bg: (213, 206, 186)
description-text: (0, 0, 0)
description-game: (0, 0, 0)

# For game screen
game-bg: (0, 0, 0)
game-score: (255, 255, 255)
game-headers: (255, 255, 255)
game-player: (119, 119, 118)
game-player-name: (255, 255, 255)
game-alt-headers: (48, 48, 48)
game-round: (107, 134, 176)
game-title1: (48, 48, 48)
game-title2: (255, 255, 255)
game-type: (255, 0, 0)
game-table: (160, 160, 160)
game-text: (255, 255, 255)
game-option: (255, 215, 0)
game-darts: (160, 160, 160)
game-inactive: (119, 119, 118)
game-dead: (48, 48, 48)
game-grey: (213, 206, 186)
game-grey2: (74, 74, 74)
game-purple:(140, 108, 161)
game-red: (255, 0, 0)
game-green: (0, 255, 0)
game-blue: (0, 0, 255)
game-gold: (255, 215, 0)
game-silver: (192, 192, 192)
game-bronze: (205, 127, 50)

# Other
message-bg: (255, 255, 255)
message-text: (0, 0, 0)

# Target
target-sb: (189, 108, 109)
target-db: (107, 134, 176)
target-double1: (255, 255, 255)
target-double2: (255, 0, 0)
target-triple1: (255, 255, 255)
target-triple2: (255, 0, 0)
target-simple1: (0, 0, 255)
target-simple2: (255, 255, 255)

# Bob's 27 colors
bob27-bg: (45,78,99)
bob27-blue: (46, 64, 76)
bob27-green: (45, 108, 85)
bob27-red: (124, 84, 87)
bob27-hit: (57, 209, 129)
bob27-miss: (232, 21, 37)
bob27-text: (255, 255, 255)

# Fighter's colors
fighters-medic: (0, 240, 0)
fighters-actual-player: (255, 255, 255)
fighters-alive-player: (150, 0, 0)
fighters-dead-player: (255, 255, 255)
fighters-targets: (255, 255, 255)
fighters-scores: (255, 255, 255)
fighters-round: (255, 255, 255)
fighters-darts: (255, 255, 255)

# Color used for suggestion for all players 
# -> for target leds, this color will be used for all players if not None else player color)
suggestion-color-allplayer: None 

# Show shortcuts or use a character
# None : for no shortcut
# '' : if you want to use 'F1,F2,etc' shortcut
# '>' : example for '> Partie simple' shortcut
main-sub-menu-shortcuts: None
# 'Left', 'Center', 'Right'
main-sub-menu-text-align: 'Center'

# Show shortcuts or use a character for Parametrage Menu
parametrage-menu-shortcuts: None
# 'Left', 'Center', 'Right'
parametrage-menu-text-align: 'Center'

# Show shortcuts or use a character for Players Menu
# same options as main-sub-shortcuts
players-menu-shortcuts: None
# 'Left', 'Center', 'Right'
players-menu-text-align: 'Center'

# Show shortcuts or use a character for Game Options Menu
# same options as main-sub-shortcuts
game-options-menu-shortcuts: None
# 'Left', 'Center', 'Right'
game-options-menu-text-align: 'Center'

#rose: 228, 41, 162
#violet: 20, 7, 61
#jaune: 255, 240, 60
#noir: 0, 0, 0
#blanc 255, 255, 255
